
    <!--
        Bienvenue sur mon PortFolio !
        Si vous êtes ici, c'est que vous êtes à la recherche d'éléments précis dans le code, ça tombe bien, chaque page utilisant des effets visuels contient la source dans les commentaires HTML pour vous permettre de les retrouver !
        Bonne visite à vous,
        Morgan MIBIELLE.
    -->

    <!--
        "Sliding Text Effect"
        Source: https://1stwebdesigner.com/css-text-effects/
    -->

    <!-- Fichier CSS associé -->
    <link rel="stylesheet" href="css/accueil.css"/>

    <!-- Code HTML -->
    <div class="wrap">

        {{#line}}
            <div class="line" id="line_{{line_id}}">

                <div class="left">
                    <div class="content">
                        <span class="{{line_span_class}}">{{line_left_content}}</span>
                    </div>
                </div><!--
                    Ne pas faire de retour charriot en dehors du commentaire (entre la div left et right), car cela déformera l'animation.
            --><div class="right">
                    <div class="content">
                        <span class="{{line_span_class}}">{{line_right_content}}</span>
                    </div>
                </div>

            </div>
        {{/line}}

    </div>

    <!-- Fichier JavaScript associé -->
    <script src="js/accueil.js"></script>
