
    <!-- 
        "Particle Text Effect"
        Source: https://1stwebdesigner.com/css-text-effects/
    -->

    <!-- Fichier CSS associé-->
    <link rel="stylesheet" href="css/erreur.css"/>

    <div id="three-container"></div>

    <div id="instructions">
        Un problème est survenu ! Revenez en arrière ou cliquez sur un onglet de la barre de navigation pour poursuivre votre visite.
    </div>

    <p id="type-erreur" hidden="true">{{type-erreur}}{{#message-erreur}} - {{message-erreur}}{{/message-erreur}}</p>

    <!-- Fichiers JavaScript associés -->
    <script src='js/three.min.js'></script>
    <script src='js/bas.js'></script>
    <script src='js/TextGeometry.js'></script>
    <script src='js/FontUtils.js'></script>
    <script src='js/pnltri.min.js'></script>
    <script src='js/droid_sans_bold.typeface.js'></script>
    <script src='js/TweenMax.min.js'></script>

    <script src="js/erreur.js"></script>
