
{{>Head}}

    {{>Navbar}}

    {{#accueil}}
        {{>accueil}}
    {{/accueil}}

    {{#connexion}}
        {{>connexion}}
    {{/connexion}}

    {{#dashboard}}
        {{>dashboard}}
    {{/dashboard}}

    {{#erreur}}
        {{>erreur}}
    {{/erreur}}

{{>Footer}}
