<!-- Déclaration du type de document comme étant du HTML-->
<!DOCTYPE html>
<!-- Début de la balise html -->
<html class="h-100 w-100">

    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0"> -->
        <title>Template Web</title>
        <link rel="icon" type="image/png" href="{{chemin}}ressources/images/site.png">

        <script type="text/javascript" src="{{chemin}}ressources/vendor/components/jquery/jquery.js"></script>

        <link rel="stylesheet" href="{{chemin}}ressources/vendor/twbs/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="{{chemin}}ressources/vendor/fortawesome/font-awesome/css/all.css"/>

        <script src="{{chemin}}ressources/vendor/fortawesome/font-awesome/js/all.js"></script>
        <script type="text/javascript" src="{{chemin}}ressources/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </head>

    <body class="h-100 w-100">
