
    <nav class="navbar navbar-expand-lg nav-masthead navbar-dark bg-dark" style="border-bottom: 1px solid white;">

        <div class="container-fluid">

            <b>
                <a class="navbar-brand" href="{{chemin}}accueil/" style="padding-right: 1.5em; border-right: 1px solid;">
                    Accueil
                </a>
            </b>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {{#connecte}}
                        <li class="nav-item">
                            <a class="nav-link {{#dashboard}}active{{/dashboard}}" aria-current="page" href="{{chemin}}dashboard/">Tableau de bord</a>
                        </li>
                    {{/connecte}}

                </ul>

            </div>

            <a class="btn btn-outline-warning" href="https://github.com/GerlariMin?tab=repositories" data-bs-toggle="tooltip" data-bs-placement="bottom" target="_blank" title="GitHub"><i class="fab fa-github"></i> GitHub</a>
            {{#connecte}}
                <a class="btn btn-outline-success ms-1" href="{{chemin}}deconnexion/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Connexion"><i class="fas fa-door-open"></i> Se déconnecter</a>
            {{/connecte}}
            {{^connecte}}
                <a class="btn btn-outline-success ms-1" href="{{chemin}}connexion/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Connexion"><i class="fas fa-door-open"></i> Se connecter</a>
            {{/connecte}}

        </div>

    </nav>
